body{
	padding-top: 10px;
}
div.container {
	min-height:580px;
	padding: 7px 0px 7px 0px;
}
div.container div.lmenu {
	min-height:580px;
	background:url(images/about.png) no-repeat;
	-webkit-transition:all 800ms;
	-moz-transition:all 800ms;
	border:1px solid black;
	border-radius:7px ;
}
div.container div.rmenu {
	min-height:580px;
	background-color:lightgreen;
	padding-top:1px;
	-webkit-transition:all 800ms;
	-moz-transition:all 800ms;
	border:1px solid black;
	border-radius:7px ;
}
div.container div.lmenu img{
	margin: 270px 0px 0px 166px;
	-webkit-transition:all 800ms;
	-moz-transition:all 800ms;
}

										/* SLIDER */
div.container div.rmenu div.slider {
	min-height:575px;
	background:url(images/4.jpg) top center no-repeat;
	padding:1px;
	z-index: -9;
}
div.container div.rmenu div.slider div.top_menu {
	min-height:85px;
	background:url(images/top_menu.png) no-repeat;
	
}
div.container div.rmenu div.slider div.top_menu ul.top {
	list-style-type:none;
	text-align:center;
	color:white;
}
div.container div.rmenu div.slider div.top_menu li {
	cursor: pointer;
	float: left;
	text-align:center;
	padding: 10px 30px 10px 40px;
}
div.container div.rmenu div.slider div.top_menu li:first-child {
	margin-left:75px;
}

div.container div.rmenu div.slider div.thumbs {
	background:url(images/under.png) no-repeat;
	margin-top:316px;
	height:120px;
	color:magenta;
	opacity: 0.9;
	-moz-opacity: 0.9;
	filter:alpha(opacity=9);
	overflow: hidden;
	border:1px solid black;
	border-radius:7px ;
}
div.container div.rmenu div.slider div.thumbs ul.home_pic {
	list-style-type:none;
	text-align:center;
	min-height:inherit;	
}
div.container div.rmenu div.slider div.thumbs li {
	cursor: pointer;
	float: left;
	padding: 20px 20px 10px 0px;
}
div.container div.rmenu div.slider div.thumbs li:first-child {
	margin-left:80px;
}
div.container div.rmenu div.slider div.thumbs li img {
border:1px solid black;
border-radius:20px;
box-shadow: 10px 10px 5px black;
}