body{
	padding-top: 10px;
}
div.container {
	min-height:580px;
	padding: 7px 0px 7px 0px;
}
div.container div.lmenu {
	min-height:580px;
	background:url(images/about.png) no-repeat;
	-webkit-transition:all 800ms;
	-moz-transition:all 800ms;
	border-right:1px solid gray;
	border-radius:0px 25px 25px 0px;
}
div.container div.rmenu {
	min-height:580px;
	background-color:lightgreen;
	padding-top:1px;
	-webkit-transition:all 800ms;
	-moz-transition:all 800ms;
	border:1px solid gray;
	border-radius:7px;
}
div.container div.lmenu div.r img{
	margin: 270px 0px 0px 166px;
	-webkit-transition:all 800ms;
	-moz-transition:all 800ms;
	cursor: pointer;
}
div.container div.lmenu div.logo{
	background: url(images/logo.png) no-repeat;
	width:143px;
	height:53px;
	margin: 80px 20px;
}

										/* SLIDER */
div.container div.rmenu div.slider {
	min-height:580px;
	background:url(images/4.jpg) top center no-repeat;
	padding:1px;
	border:1px solid gray;
	border-radius:7px;
}
div.container div.rmenu div.slider div.top_menu {
	margin-top:-3px;
	min-height:85px;
	background:url(images/top_menu.png) no-repeat;
	
}
div.container div.rmenu div.slider div.top_menu ul.top {
	list-style-type:none;
	text-align:center;
	color:white;
}
div.container div.rmenu div.slider div.top_menu li {
	cursor: pointer;
	float: left;
	text-align:center;
	padding: 10px 30px 10px 40px;
}
div.container div.rmenu div.slider div.top_menu li:first-child {
	margin-left:75px;
}

div.container div.rmenu div.slider div.thumbs {
	background:url(images/under.png) no-repeat;
	margin-top:336px;
	height:120px;
	color:magenta;
	opacity: 0.9;
	-moz-opacity: 0.9;
	filter:alpha(opacity=9);
	overflow: hidden;
	border:1px solid #333;
	border-radius:7px;
}
div.container div.rmenu div.slider div.thumbs ul.home_pic {
	list-style-type:none;
	text-align:center;
	min-height:inherit;	
}
div.container div.rmenu div.slider div.thumbs li {
	cursor: pointer;
	float: left;
	padding: 20px 20px 10px 0px;
}
div.container div.rmenu div.slider div.thumbs li:first-child {
	margin-left:80px;
}
div.container div.rmenu div.slider div.thumbs li img {
border:1px solid black;
border-radius:25px 0px 25px 0px ;
box-shadow: 10px 10px 5px black;
}

div.footer{
	min-height:80px;
	background-color: #DDD;
}
div.inside_footer{
	min-height:50px;
	background-color: lightblue;
}
div.inside_footer div.desc{
	margin:15px auto;
	min-height:40px;
	text-align:center;
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter:alpha(opacity=5);
}