body{
	padding-top: 10px;
}
div.container {
	min-height:580px;
	outline:10px solid orange;
	padding: 7px 0px 7px 0px;
}
div.container div.lmenu {
	min-height:580px;
	background-color:lightblue;
}
div.container div.rmenu {
	min-height:580px;
	background-color:lightgreen;
	padding-top:1px;
}

										/* SLIDER */
div.container div.rmenu div.slider {
	min-height:575px;
	outline:3px solid purple;
	background:url(images/4_1.jpg) top center no-repeat;
	padding:1px;
	z-index: -9;
}
div.container div.rmenu div.slider div.top_menu {
	min-height:85px;
	background-color:black;
	opacity: 0.7;
	-moz-opacity: 0.7;
	filter:alpha(opacity=7);
}
div.container div.rmenu div.slider div.top_menu ul.top {
	list-style-type:none;
	text-align:center;
	color:white;
}
div.container div.rmenu div.slider div.top_menu li {
	cursor: pointer;
	float: left;
	text-align:center;
	padding: 30px 40px 20px 40px;
}
div.container div.rmenu div.slider div.top_menu li:first-child {
	margin-left:75px;
}

div.container div.rmenu div.slider div.thumbs {
	background:url(images/under.png);
	margin-top:316px;
	min-height:160px;
	color:magenta;
	z-index:2;
	opacity: 0.9;
	-moz-opacity: 0.9;
	filter:alpha(opacity=9);
}
div.container div.rmenu div.slider div.thumbs ul.home_pic {
	list-style-type:none;
	text-align:center;
	min-height:inherit;
	margin:0 auto;
}
div.container div.rmenu div.slider div.thumbs li {
	cursor: pointer;
	float: left;
	padding: 10px 20px 10px 0px;
	margin-top:30px;
}
div.container div.rmenu div.slider div.thumbs li:first-child {
	margin-left:42px;
}
div.container div.rmenu div.slider div.thumbs li img {
border:1px solid black;
border-radius:20px;
box-shadow: 10px 10px 5px black;
}